# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# VSCode
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp

# Others
.idea/
*.swp
*.swo
